@import 'tailwindcss';

@theme {
  --font-sans: 'Geist', serif;
  --font-mono: 'Geist Mono', serif;
  --animate-scale: wiggle 60s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
  }
}
